@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

/* 修改字体 */

div,
textarea,
.level2 {
    font-family: 'Montserrat', 'Noto Serif SC', sans-serif !important;
}

.rm-level2, .rm-heading-level-2 > .rm-block__self .rm-block__input {
	font-family: 'Montserrat', 'Noto Serif SC', sans-serif !important;
}

.rm-level1, .rm-heading-level-1 > .rm-block__self .rm-block__input {
	font-family: 'Noto Serif SC' !important;
}
.rm-level2, .rm-heading-level-2 > .rm-block__self .rm-block__input {
	font-family: 'Noto Serif SC' !important;
}

.rm-level3, .rm-heading-level-3 > .rm-block__self .rm-block__input {
	font-family: 'Noto Serif SC' !important;
}

/* 变量 */
:root {
	--page-shadow: 0px 6px 10px rgba(43, 45, 47, .05);
	--page-color: rgb(249, 250, 250);
	--border-color: rgba(0, 0, 0, 0.08);
	--text-color: #49556f;
	--reference-item-background: hsl(0, 0%, 99%);
	/*--body-font: "Inter", sans-serif;*/
	--light-text-color: #5c7496;
	--link: rgb(236,112,53);
}

/* 页面卡片化 */
.roam-article {
  padding-right: 10px !important;
  max-width: 740px;
  padding-left: 20px !important;
}

.roam-article > div {
  padding: 30px 50px 50px 50px;
  background: var(--page-color);
  box-shadow: var(--page-shadow);
  border: 1px solid #e5ecf1;
  border-radius: 6px;
  margin-top: 10px !important;
  width: auto;
}

.roam-body-main {
  top: 0 !important;
  height: 100% !important;
  width: auto !important;
  position: relative !important;
  padding-left: 50px;
  min-width: 600px;
}

.roam-main {
  width: unset !important;
  max-width: 100% !important;
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  margin: auto;
  transition: padding-left 0.15s ease-out;
}

.rm-reference-item {
  background: var(--reference-item-background) !important;
  margin-top: 8px;
  border-radius: 6px;
  border: 1px solid #f0f0f0 !important;
  margin-right: 8px;
  flex: 1 1 100%;
  word-break: break-word;
  padding: 8px 10px 8px 2px !important;
}
.rm-ref-page-view-title a {
  color: var(--light-text-color);
  font-size: 1.1em;
  text-decoration: none !important;
}

/* 页面底色 */
.roam-body {
  background-color: var(--page-color) !important;
}

/* 右侧卡片化 */
#right-sidebar {
	background-color: var(--page-color) !important;
}
/* 收缩按钮 */
#right-sidebar > .flex-h-box {
  display: none;
}
#right-sidebar {
  display: inline-flex !important;
  vertical-align: top;
  flex-direction: row !important;
  padding-right: 100px;
}
#roam-right-sidebar-content > * {
  margin: 0px 0px 0 14px !important;
  overflow-y: auto !important;
  max-height: 100vh;
  padding: 68px 0px 100px 0px;
  display: block !important;
  position: relative !important;
  border: none !important;
}
.sidebar-content > div {
	background: var(--page-color);
	border: 1px solid var(--border-color);
	border-radius: 6px;
	box-shadow: var(--page-shadow);
	margin-bottom: 20px;
}
.sidebar-content > div > div {
	border-bottom: none!important;
}
#roam-right-sidebar-content > div > div:not(.flex-h-box) {
  padding-right: 50px;
	padding-left: 40px;
}



/* 链接着色 */
.rm-page-ref {
	color: var(--link);
}
/* .rm-page-ref:hover {
	text-decoration: none;
	color: black;
} */

/* 左侧悬浮框 */
.starred-pages > a > .page:hover {
  background-color: transparent !important;
  color: var(--link) !important;
}
.roam-sidebar-content {
  color: var(--text-color) !important;
}

.log-button:hover, .log-button:hover * {
  color: var(--text-color) !important;
}
.roam-topbar {
  opacity: 1 !important;

  background-color: transparent !important;

  margin-top: 70px;

  width: 20px;

  display: inline-block;

  padding-left: 0px !important;

  position: relative !important;

  position: sticky !important;

  left: 0px;

  transition: none !important;

  z-index: 999;

}



.roam-sidebar-container {
  transition: all .25s ease-out;

/*   width: 240px !important; */

/*   padding-right: 40px; */

  padding-left: 10px;

/*   backdrop-filter: blur(5px); */

  background: transparent !important;

}


.roam-sidebar-container > .roam-sidebar-content > * {

  opacity: 0 !important;

  transition: opacity .6s ease-out !important

}

.roam-sidebar-container:not([style*="top: 0px"]) {

  left: -170px !important;

}

.roam-sidebar-container[style*="top: 0px"] > .roam-sidebar-content > * {

  opacity: 1 !important;

}
.roam-sidebar-content > .flex-h-box > * {

  pointer-events: auto;

}
/* 代码高亮 */
.cm-s-default .cm-def,
span[role="presentation"],
.cm-operator,
.cm-variable {
    color: var(--text-color);
}
.cm-s-default .cm-comment,
.cm-string {
    color:rgb(106,135,89)!important
}
.cm-s-default .cm-atom,
.cm-s-default .cm-variable-3, .cm-s-default .cm-type,
.cm-s-default .cm-keyword {
    color: rgb(204,120,50);
}

.cm-s-default .cm-number {
    color: rgb(104,151,187)
}

/* 层级式容器 */

.roam-block-container[data-page-links*='Drawer']  {
  /* 	border: 1px solid white; */
  /* 	background-color:rgba(151,149,240,0.1); */
    background-color: rgba(43, 45, 47, .02);
  /* 	background-color:rgba(45,45,45,0.3); */
    margin-top: 10px;
    border: var(--border-color);
    padding-top: 5px;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 15px;
  }
  
  div[data-page-links*='Drawer'] div[class="rm-multibar"]{
    border:none;
  }
  /* .roam-block-container[data-page-links*='Box'] div[class="controls rm-block__controls"] {
    display: none;
  } */
  
  span.rm-page-ref[data-tag=Drawer] {
    display: none;
    padding-left: 5px
  }

  /* 分割线 */
.rm-hr {
	border: none;
    border-bottom: 1px solid var(--text-color)!important;
/*     border: none; */
}

/* 高亮 */
.rm-highlight {
	margin: 0px;
	padding: 0px;
}