/* Colorful Tag */

span.rm-page-ref[data-tag="EverGreen Notes"], 
span.rm-page-ref[data-tag="Green"],
span.rm-page-ref[data-tag="EverGreen Index"]{
	background-image: linear-gradient(135deg, #43e97b 0%, #38f9d7 100%);
  	color:#fff !important;
  	padding: 3px 7px;
	border-radius: 3px;
}

span.rm-page-ref[data-tag="SandCastel Notes"], 
span.rm-page-ref[data-tag="Sand"] {
	background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  	color:#fff !important;
  	padding: 3px 7px;
    border-radius: 3px;
}

span.rm-page-ref[data-tag="Literature Notes"] {
  	background-image: linear-gradient(-45deg, #FFC796 0%, #FF6B95 100%);
  	color:#fff !important;
  	padding: 3px 7px;
	border-radius: 3px;
}

span.rm-page-ref[data-tag="Concept"],
span.rm-page-ref[data-tag="Words"],
span.rm-page-ref[data-tag="Solutions"],
span.rm-page-ref[data-tag="Thesis"],
span.rm-page-ref[data-tag="Books"],
span.rm-page-ref[data-tag="Figure"]{
	background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  	color:#ffffff !important;
  	padding: 3px 7px;
    border-radius: 3px;
}

span.rm-page-ref[data-tag="Reference"] {
background-image: linear-gradient(135deg, #ff758c 0%, #ff7eb3 100%);
  	color:#fff !important;
  	padding: 3px 7px;
	border-radius: 3px;
}
span.rm-page-ref[data-tag="TODO"],
span.rm-page-ref[data-tag="Finished"],
span.rm-page-ref[data-tag="InProgress"] {
  	background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
  	color:#fff !important;
  	padding: 3px 7px;
	border-radius: 3px;
}


span.rm-page-ref[data-tag="Shortcuts"],
span.rm-page-ref[data-tag="Quick Capture"] {
background-image: linear-gradient(135deg, #f83600 0%, #f9d423 100%);
  	color:#fff !important;
  	padding: 3px 7px;
	border-radius: 3px;
}


span.rm-page-ref[data-tag="ComputerScience Concept"] {
background-image: linear-gradient(-45deg, #88d3ce 0%, #6e45e2 100%);
	color:#fff !important;
  	padding: 3px 7px;
	border-radius: 3px;
}